{
  "extends": "eslint:recommended",
  "env": {
    "node": true
  },
  "globals": {
    "describe": false,
    "before": false,
    "beforeEach": false,
    "afterEach": false,
    "it": false,
    "after": true
  },
  "rules": {
    "camelcase": 1,
    "new-cap": 0,
    "key-spacing": 0,
    "no-multi-spaces": 0,
    "eol-last": 1,
    "strict": 0,
    "no-console": 0,
    "no-undef": 2,
    "no-unused-vars": ["error", { "vars": "all", "args": "none" }],
    "no-underscore-dangle": 0,
    "no-cond-assign": 0,
    "semi": [2, "always"],
    "space-before-function-paren": 0,
    "quotes": [2, "double", "avoid-escape"],
    "keyword-spacing": 0,
    "valid-jsdoc": [1, {
      "prefer": {
          "return": "returns"
      }
    }]
  }
}
